#main {
  margin-top: 70px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
  margin-right: 280px;
  width: 20%;
}

#flash_notice {
  color: white;
  background-color: green;

}

#flash_error {
  color: white;
  background-color: red;
}

.margin-high {
  margin-top: 10px;
}
